<section class="main_container">
    <nav class="verticle_nav_bar">
        <div class="inner_vericle_container_1">
            <div><i class="fa-solid fa-house" style="color: #FFD43B;"></i></div>
            <div><i class="fa-solid fa-reply" style="color: #c01c28;"></i></div>
            <div><i class="fa-solid fa-bell fa-shake"></i></div>
        </div>

        <div class="inner_vericle_container_2">
            <div><i class="fa-regular fa-lightbulb fa-shake"></i></div>
            <div><i class="fa-solid fa-sliders"></i></div>
            <div><i class="fa-solid fa-user"></i></div>
            <!-- <div><i class="fa-solid fa-lightbulb"></i></div> -->
        </div>
    </nav>
    <section class="content_box">
        <!-- here we will render all the routing from now on -->
        <router-outlet></router-outlet>
    </section>
</section>